SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=13.207.193.99,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://13.207.193.99

DB_ENGINE=mysql
DB_NAME=m2m_prod
DB_USER=m2madmin
DB_PASSWORD=change-me
DB_HOST=your-rds-endpoint.ap-south-1.rds.amazonaws.com
DB_PORT=3306

REDIS_URL=redis://127.0.0.1:6379/0

FIREBASE_CREDENTIALS_PATH=/var/www/m2m/service-account.json

LIVEKIT_URL=change-me
LIVEKIT_API_KEY=change-me
LIVEKIT_API_SECRET=change-me

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
