# =========================
# DJANGO BASIC SETTINGS
# =========================

SECRET_KEY=CHANGE_ME_DJANGO_SECRET_KEY
DEBUG=False

ALLOWED_HOSTS=13.207.193.99,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://13.207.193.99

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False


# =========================
# DATABASE - AWS RDS MYSQL
# =========================

DB_ENGINE=mysql
DB_NAME=m2m_prod
DB_USER=m2madmin
DB_PASSWORD=m2mHOME26D14
DB_HOST=m2m-mysql.cfio666eejon.ap-south-1.rds.amazonaws.com
DB_PORT=3306


# =========================
# REDIS - SAME EC2 SERVER
# =========================

REDIS_URL=redis://127.0.0.1:6379/0


# =========================
# FIREBASE PUSH NOTIFICATION
# =========================

FIREBASE_CREDENTIALS_PATH=/var/www/m2m/service-account.json


# =========================
# AWS GENERAL
# =========================

AWS_REGION=ap-south-1
AWS_DEFAULT_REGION=ap-south-1

# =========================
# AMAZON CHIME SDK MEETINGS
# =========================
CHIME_ENABLED=True
CHIME_MEDIA_REGION=ap-south-1



# =========================
# AWS S3 - MEDIA/STORAGE
# =========================

USE_S3=True

AWS_STORAGE_BUCKET_NAME=m2m-prod-media
AWS_S3_REGION_NAME=ap-south-1

AWS_S3_CUSTOM_DOMAIN=
AWS_S3_OBJECT_PARAMETERS_CACHE_CONTROL=max-age=86400

AWS_DEFAULT_ACL=None
AWS_QUERYSTRING_AUTH=True
AWS_S3_FILE_OVERWRITE=False

MEDIA_URL=https://m2m-prod-media-jujars.s3.ap-south-1.amazonaws.com/media/
STATIC_URL=/static/